body {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #40514e;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.6525rem;
    margin-top: 50px auto 0 auto;
    margin-bottom: 0;
    color: #1A374D;
    line-height: 2;
}

h2 {
    color: #1A374D;
    font-size: 2.25rem;
    font-weight: normal;
}

h3 {
    color: #13293a;
}

a {
    color: #B1D0E0;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
}

p{
    line-height: 2;
}

hr{
    width: 7%;
    border-style: dotted;
    border-width: 7px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;    
    color: #406882;
    padding: 50px 0px 0px 0px;
}

.profile{
    margin: auto;
    width: 30%;
}
.top-container {
    background-color: #B1D0E0;
    position: relative;
    padding: 50px 0px 0px 0px;
}
.middle-container {
    padding: 50px 0px 0px 0px;
}

.bottom-container {
    background-color: #1A374D;
    padding: 30px 0px 30px 0px;

}

.bottom-container p{    
    color: white;
}

.bottom-container a{
    display: inline-block;
    padding: 20px 20px;
}

.skill{
    padding: 50px 0px 0px 0px;
}

.contact-me{    
    padding: 50px 0px 50px 0px;
}

.mountain{
    max-width: 100%;
    height: auto;
}
.cloud-top {
    position: absolute;
    right: 300px;
    top: 50px;
}

.cloud-bottom {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.papi {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;

}

.prep {
    margin-top: 0;
    font-size: 2rem;
    color: #1A374D;
}

.skill-row{
    display: inline-block;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.img-ball{
    width: 25%;
    float: left;
    padding-right: 30px;
}
.img-can{
    width: 25%;
    float: right;
    padding-left: 30px;
}
.img-walk{
    width: 25%;
    float: left;
    padding-right: 30px;
}

.contact-message{
    width: 40%;
    margin: auto;
}


#btn{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin: 40px;
    display: inline-block;
    background-color: #1A374D;
    border-radius: 28px;
}

#btn:hover{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin: 40px;
    display: inline-block;
    background-color: #406882;
    border-radius: 28px;
}

